<%= stylesheet_link_tag 'chatroom' %>

<div id="page"> 
  <div id="messages">
    <% @messages.each do |message| %>
      <div class="message">
        <div id="message-head">
         <p><%= message.user.username %></p>
         <p id="message-time"><%= message.created_at.strftime("%H:%M %d/%m") %>
        </div>
        <p><%= message.content %></p>
      </div>
  <% end %>
  </div>
  <div id="write-message">
    <%= form_with(model: Message.new, url: chatroom_create_message_path) do |message| %>
      <%= message.text_field :content %>
      <%= message.submit %>
    <% end %>
  </div>
</div>
