<%= stylesheet_link_tag 'sign_up' %>
<div id="sing_up_window">
  <div id="sign_up_form">
    <p>pokus</p>
    <%= form_with(model: User.new, url: users_path) do |user| %>
      <%= user.text_field :username %>
      <%= user.text_field :passhash %>
      <%= user.text_field :confirm_password %>
      <%= user.submit %>
    <% end %>
  </div>
</div>
