<<<<<<< HEAD
<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
=======
<%= stylesheet_link_tag 'sign_up' %>
<div id="sing_up_window">
  <form>
  <p>Hello</p>
  <input type="text" id="username" name="usname"><br><br>
  <input type="text" id="passwd1" name="pass1"><br><br>
  <input type="text" id="passwd2" name="pass2"><br><br>
  <input type="submit" value="Submit">
</form> 
>>>>>>> parent of 5774257 (You can create users now but feature for confirming password is still missing)
</div>
